//- label - надпись (label)
//- type - тип input (text/date/phone/email)
//- placeholder - заполнитель для input
//- expand - добавляет на background стрелку вниз (для всплытия другого диалогового окна) и блокирует input на редактирование
//- arrow - добавлет на background стрелку вправо
//- date - добавляет маску (дата)
//- value - value of input
//- hover - стилизация input как при наведении курсором

mixin text-field(attr={})
  -
    let opt ={}
    let id = Math.floor(Math.random() * 1000)

    switch (attr.preset) {
      case 'text':
        attr.label = 'text field'
        attr.placeholder = 'Email'
        attr.span = 'default'
        break
      case 'text-hover':
        attr.label = 'text field'
        attr.placeholder = 'This is pretty awesome'
        attr.hover = true
        attr.span = 'hover / focus'
        break
      case 'text-drop':
        attr.label = 'dropdown'
        attr.placeholder = 'Сколько гостей'
        attr.expand = true
        attr.placeholderDark = true
        break
      case  'date':
        attr.label = 'masked text field'
        attr.date = true
        break
      case 'date-drop':
        attr.label = 'date dropdown'
        attr.expand = true
        attr.date = true
        attr.placeholderDark = true
        break
      case 'date-filter':
        attr.label = 'filter date dropdown'
        attr.expand = true
        attr.placeholder = '19 авг - 23 авг'
        attr.placeholderDark = true
        break
      case 'text-arrow':
        attr.label = 'subscription text field'
        attr.arrow = true
        attr.placeholder = 'Email'
        break
      case 'drop-down':
        attr.label = 'dropdown'
        attr.dropDown = true
        attr.expand = true
      }

    opt = {
      label: attr.label || false,
      type: attr.type || 'text',
      placeholder: attr.placeholder || false,
      expand: attr.expand || false,
      arrow: attr.arrow || false,
      value: attr.value || false,
      hover: attr.hover || false,
      date: attr.date || false,
      placeholderDark: attr.placeholderDark || false,
      span: attr.span,
      dropDown: attr.dropDown,
      required: attr.required || false,
      pattern: attr.pattern || false
    }

  .text-field&attributes(attributes)
    if opt.label
      label.text-field__label(id!=id)=opt.label
    if opt.span
      span.text-field__note=opt.span
    input.text-field__input(
      id!=id
      type=opt.type
      placeholder=opt.date ? 'ДД.ММ.ГГГГ' : opt.placeholder
      readonly=opt.expand ? true : false
      value=opt.value
      class=opt.expand ? 'text-field__input--expand' : ''
      class=opt.hover ? 'text-field__input--hover' : ''
      class=opt.arrow ? 'text-field__input--arrow' : ''
      class=opt.date ? 'text-field__input--date' : ''
      class=opt.placeholderDark ? 'text-field__input--placeholder-dark' : ''
      class=opt.dropDown ? 'text-field__input--drop-down' : ''
    )
