include ../filterCalendar/filterCalendar.pug
include ../dropDown/dropDown.pug
include ../dblSlider/dblSlider.pug
include ../checkboxList/checkboxList.pug
include ../checkboxRich/checkboxRich.pug
include ../room/room.pug
include ../pagination/pagination.pug

mixin search
  -
    let rooms = [
      { title: '888', lux: true,  cost: '9 990', rateStar: 5, review: 145 },
      { title: '840', lux: false, cost: '9 900', rateStar: 4, review: 65 },
      { title: '980', lux: true,  cost: '8 500', rateStar: 3, review: 35 },
      { title: '856', lux: false, cost: '7 300', rateStar: 5, review: 19 },
      { title: '740', lux: false, cost: '6 000', rateStar: 4, review: 44 },
      { title: '982', lux: false, cost: '5 800', rateStar: 3, review: 56 },
      { title: '678', lux: false, cost: '5 500', rateStar: 5, review: 45 },
      { title: '450', lux: false, cost: '5 300', rateStar: 4, review: 39 },
      { title: '350', lux: false, cost: '5 000', rateStar: 3, review: 77 },
      { title: '666', lux: false, cost: '5 000', rateStar: 5, review: 25 },
      { title: '444', lux: false, cost: '5 000', rateStar: 3, review: 15 },
      { title: '352', lux: false, cost: '5 000', rateStar: 3, review: 55 }
    ]
  main.search
    h1.unvis Подбор номеров
    aside.search__filters.filters
      +filterCalendar
      +drop-down('filterDropGuest')
      +dblSlider({
        label: 'диапазон цены',
        min: 0,
        max: 16000,
        a: 5000,
        b: 10000,
        note: 'Стоимость за сутки пребывания в номере'
      })
      +checkboxList({
        title: 'Правила дома',
        items: [{
          label: 'Можно курить',
          checked: false
        },
        {
          label: 'Можно с питомцами',
          checked: true
        },
        {
          label: 'Можно пригласить гостей (до 10 человек)',
          checked: true
        }]
      })
      +checkboxRich({
        title: 'Доступность',
        items: [
          {
            label: 'Широкий коридор',
            checked: false,
            text: 'Ширина коридоров в номере не менее 91 см.',
            name: 'newnew',
            text_style: 'width: 230px;'
          },
          {
            label: 'Помощник для инвалидов',
            checked: false,
            text: 'На 1 этаже вас встретит специалист  и проводит до номера.',
            text_style: 'width: 255px;'
          }
        ]
      })
      +drop-down('filterDropComfort')
      +checkboxList({
          title:'Дополнительные удобства',
          items: [
            { label: 'Завтрак', checked: false },
            { label: 'Письменный стол', checked: true },
            { label: 'Стул для кормления', checked: true },
            { label: 'Кроватка', checked: true},
            { label: 'Телевизор', checked: false},
            { label: 'Шампунь', checked: false}
          ],
          expand: 'off'
        })
    section.search__rooms.rooms
      h2.rooms__title Номера, которые мы для вас подобрали
      ul.rooms__list
        each val, index in rooms
          li.rooms__item
            +room({
              sliderId: `slider-${+index + 1}`,
              sliderLink: '#',
              sliderImg: [`image-${+index + 1}.jpg`, `image-${+index + 1}.jpg`, `image-${+index + 1}.jpg`, `image-${+index + 1}.jpg`],
              title: val.title,
              lux: val.lux,
              cost: val.cost,
              rateId: `cardRate-${+index + 1}`,
              rateStar: val.rateStar,
              review: val.review
            })
      +pagination(class="rooms__pagination")
