include ../textField/textField.pug

mixin footer(attr={})
  -
    let opt = {
      nav: {
        'Навигация': { 'О нас': '#',
                        'Новости': '#',
                        'Служба поддержки': '#',
                        'Услуги': '#'
                      } ,
        'О нас': { 'О сервисе': '#',
                    'Наша команда': '#',
                    'Вакансии': '#',
                    'Инвесторы': '#'
                  },
        'Служба поддержки': { 'Соглашения': '#',
                              'Сообщества': '#',
                              'Связь с нами': '#'
                            },
      } || attr.nav
    }

  .footer&attributes(attributes)
    .footer__wrapper
      .footer__logo
        img(src=require('@blocks/footer/logo.svg'))
        p.footer__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      ul.footer__list
        each valItem, valKey in opt.nav
          li.footer__item=valKey
            ul.footer__sub-menu
              each valSubItem, valSubKey in valItem
                li.footer__sub-item=valSubKey
      .footer__subscription.subscription
        p.subscription__title Подписка
        p.subscription__text Получайте специальные предложения и новости сервиса
        +text-field({
          placeholder: 'Email',
          type: 'email',
          arrow: true
        })(class="subscription__input")

    .footer__social.social
      span.social__copyright Copyright © 2018 Toxin отель. Все права зачищены.
      ul.social__list
        li.social__item.social__item--twitter
          a(href="")
            img(src=require('@blocks/footer/twitter.svg') width="24", height="24")
        li.social__item.social__item--fb
          a(href="")
            img(src=require('@blocks/footer/fb.svg') width="24" height="24")
        li.social__item.social__item--instagramm
          a(href="")
            img(src=require('@blocks/footer/instagramm.svg') width="24" height="24")
