//- name - аттрибут name
//- value - аттрибут value
//- label - текст label
//- checked - аттрибут checked

mixin checkBtn(attr={})
  -
    let id = Math.random()
    let opt = {
      name: attr.name || 'name',
      value: attr.value || 'value',
      label: attr.label || 'Можно курить',
      checked: attr.checked || false,
      label_style: attr.label_style || false
    }

  .checkBtn&attributes(attributes)
    input.checkBtn__input(
      id!=id,
      type="checkbox",
      name=opt.name,
      value=opt.value,
      checked=opt.checked
      )
    label.checkBtn__label(
      for!=id
      style=opt.label_style
    )= opt.label
