mixin dblSlider(attr="")
  -
    let opt = {
      label: attr.label || 'Range Slider',
      min: attr.min || 0,
      max: attr.max || 100,
      a: attr.a || 25,
      b: attr.b || 50,
      step: attr.step || 1
    }

  .dblSlider(
    data-min=opt.min
    data-max=opt.max
    data-a=opt.a
    data-b=opt.b
    data-step=opt.step
    role='group'
    aria-labelledby='multi-lbl'
  )&attributes(attributes)
    .dblSlider__label-block
      span#dblSlider__label-1
      |  -
      |
      span#dblSlider__label-2
    #dblSlider__label.dblSlider__label=opt.label
    input(
      id="jsr-1-1"
      name="range1"
      type="range"
      min=opt.min
      max=opt.max
      step=opt.step
      value=opt.a
      ).dblSlider__input
    input(
      id="jsr-1-2"
      name="range2"
      type="range"
      min=opt.min
      max=opt.max
      step=opt.step
      value=opt.b
      ).dblSlider__input
