//- id - аттрибут id
//- name - аттрибут name
//- value - аттрибут value
//- label - текст label
//- checked - аттрибут checked

mixin radioBtn(attr={})
  -
    let id = Math.random()
    let opt = {
      name: attr.name || 'name',
      value: attr.value || 'value',
      label: attr.label || 'label',
      checked: attr.checked || true
    }
  .radioBtn
    input.radioBtn__input(
      id!=id,
      type="radio",
      name=opt.name,
      value=opt.value,
      checked=opt.checked)
    label.radioBtn__label(for!=id)=opt.label
