//- name - аттрибут name
//- value - аттрибут value
//- label - текст label
//- checked - аттрибут checked

mixin toggleBtn(attr={})
  -
    let id = Math.random()
    let opt = {
      name: attr.name || 'name',
      value: attr.value || 'value',
      label: attr.label || 'label',
      checked: attr.checked || false
    }
  .toggleBtn
    input.toggleBtn__input(
      id!=id,
      type="checkbox",
      name=opt.name,
      value=opt.value,
      checked=opt.checked)
    label.toggleBtn__label(for!=id)= opt.label
