include ../colorsType/colorsType.pug
include ../formElements/formElements.pug
include ../cards/cards.pug
include ../headersFooters/headersFooters.pug

mixin uiKit(tab)
  .container
    nav.nav
      ul.nav__list
        - let tabs = ['Colors & Types', 'Form Elements', 'Cards', 'Headers & Footers']

        each val, index in tabs
          li.nav__item(
            data-item=`block-${index+1}`
            class= index + 1  == tab ? 'nav__item--active' : ''
            )= val

    .logo
      img.logo__img(src=require('@blocks/uiKit/logo.svg'), alt="logo", width="48", height="48")
      - let pages = ['colors-type', 'form-elements', 'cards', 'headers-footers']

    each val, index in pages
      .content(
        id=`block-${index + 1}`
        class= `content--${val}`
        class= index + 1 == tab ? 'content--active' : ''
      )
        case index
          when 0: +colors-type()
          when 1: +form-elements()
          when 2: +cards()
          when 3: +headers-footers()
